<!-- homepage.component.html -->

<div class="landing-page">

  <!-- <app-image-slider></app-image-slider> -->

  <div id="welcomeSection" class="welcome-section">
    <h1>Welcome to Trello</h1>
    <p class="subtext">Explore Trello’s features that help your team succeed</p>
    <div class="action-buttons">
      <button id="exploreBtn" class="primary-btn">Explore Features</button>
      <button id="signupBtn" class="secondary-btn">Sign Up</button>
      <button id="learnMoreBtn" class="tertiary-btn">Learn More</button>
    </div>
  </div>
   
    <div class="parent">
      <div><img src="https://images.ctfassets.net/rz1oowkt5gyp/6qNFanQxzRQEUQGMwc72KG/e0d4a143dfd448cfc14e89813924f3da/PremiumLP_HeroImage_2x.png?w=1140&fm=webp" alt=""></div>
      <div>
        <h2>The board is just the beginning</h2>
        <hr>
        <p>Lists and cards are the building blocks of organizing work on a Trello board. Grow from there with task assignments, timelines, productivity metrics, calendars, and more.</p>
      </div>
    </div>

    <br>
    <br>
    <div class="parent">
      <div id="midtext">
        <h2>Automate your workflow</h2>
        <hr>
        <p>Create a foolproof process for moving work forward with Trello’s built-in automation system. Run commands and set automated rules for almost any action in Trello so that your team can focus on what matters most.</p>
      </div>

      <div id="midimage"><img src="https://images.ctfassets.net/rz1oowkt5gyp/17Iy0IusFlrBXJ41JUaC03/03b2150aaf8eb935183d0bf1f5d03a88/automate_your_workflow.png?w=942&fm=webp" alt=""></div>
    </div>

    <br>
    <br>

    <div class="parent">
      <div><img src="https://images.ctfassets.net/rz1oowkt5gyp/5Vcv2W4DlIc88JiQqh3Uv5/d9ccb3bbf806ce8ec0aab3115b42cd07/03D_Power-ups_2x.png?w=1140&fm=webp" alt=""></div>
      <div >
        <h2>Integrate top work tools</h2>
        <hr>
        <p>Easily connect the apps your team already uses into your Trello workflow, or add a Power-Up that helps fine-tune one specific need. With hundreds of Power-Ups available, your team’s workflow wishes are covered.</p>
      </div>
    </div>

    <div id="bootmsection">
      <p>Join over 2,000,000 teams worldwide that are using Trello to get more done.</p>
      <br>
      <img src="https://images.ctfassets.net/rz1oowkt5gyp/19rAABnbk8KNNuh3zJzsmr/210fb8ee51dea14595462f844b7c9beb/logos-horizontal-visa-coinbase-john-deere-zoom-grand-hyatt-fender.svg" alt="">
    </div>

  </div>
  