<!-- footer.component.html -->

<div class="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="assets/logo.png" alt="logo" width="150" style="margin-top: -15px" />
      <p>The Angular application's footer provides comprehensive information, including corporate details, navigation links, and social media connections. Its design promotes user engagement and showcases the application's commitment to transparency, support, and social interaction.</p>
    </div>
    <div class="footer-links">
      <div class="footer-section">
        <h3>Home</h3>
        <a href="#">Lorem</a>
        <a href="#">Lorem</a>
        <a href="#">Lorem</a>
        <a href="#">Lorem</a>
      </div>
      <div class="footer-section">
        <h3>Company</h3>
        <a href="#">Lorem</a>
        <a href="#">Lorem</a>
        <a href="#">Lorem</a>
        <a href="#">FAQ</a>
      </div>
      <div class="footer-section">
        <h3>Support</h3>
        <a href="#">Help Center</a>
        <a href="#">Terms of Service</a>
        <a href="#">Legal</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="footer-section">
        <h3>Social</h3>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
      </div>
    </div>
  </div>
  <p>All rights reserved © 2023 Briks</p>
  <p>Made with Briks 99 !</p>
</div>
